root {
  display: block;
}

body {
  background-color: #3c5d6e;
  background-repeat: repeat-x;
  background-position: top;
  background-image: url(../sprites/bg_tile.jpg);
}

*,
*:before,
*:after {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
input:before,
input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

::selection {
  background: transparent;
  color: inherit;
}
::-moz-selection {
  background: transparent;
  color: inherit;
}

#canvas {
  position: fixed;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  -ms-touch-action: none;
}

.ani_hack {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* mobile webkit */
}

.leaderboard {
  z-index: 1000000000;
  background-color: white;
  margin-top: 100vh;
  padding-bottom: 50px;
  position: relative;
}
