@charset "utf-8";

/* CSS Document */

html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

body.admin {
    font-size: 14px;
    background-color: #FFFFFF;
}

.navbar {
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.logo-nav {
    background-color: #fff;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
    min-height: 80px;
}

.logo {
    width: auto;
    max-height: 60px;
    padding: 5px 0;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

.login {
    border: 1px solid #24487D;
    margin-top: 10vh;
    padding: 30px 50px;
    border-radius: 8px;
    background-color: #f8f9fa;
}

.login h3 {
    background-color: #24487D;
    padding: 5px 10px;
    color: #fff;
    display: block;
    font-size: 1.5em;
}


/* #login-form {
    padding: 0px 15px;
} */

.input-group {
    margin: 5px 0;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0;
    font-size: 1em;
    padding: 10px;
    height: auto;
}

.login-button {
    border: 0;
    background-color: #24487D;
    color: #fff;
    border-radius: 0;
    margin-top: 20px;
}

#login-message,
#ques-message {
    padding: 5px 10px;
}

.login-info {
    background-color: #24487d;
    padding: 10px 0;
    color: #fff;
}

a.logout {
    color: #dee2e6;
    margin-right: 10px;
}

.btn-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
    background-color: #24487D;
    border: 0;
}

.links {
    color: #fff;
}

.links a {
    color: #fff;
}

#ques_count {
    display: inline-block;
}

#ques_update {
    color: #cc0000;
}

.header .col-12 {
    padding: 0;
}

.btnSpk {
    font-size: 0.8em;
}

#logged-in {
    display: inline-block;
}

@media (max-width: 575.98px) {
    .force-to-bottom {
        position: absolute;
        /* bottom: 0; */
        width: 100%;
        top: 200px;
        /* left: 50px; */
        padding-left: 60px;
    }
    .bottom1 {
        position: absolute;
        /* bottom: 0; */
        bottom: 0;
        left: 60px;
        top: 20px;
    }
}

hgroup {
    text-align: center;
    margin-top: 4em;
}

span {
    font-size: 0.95em;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
}


/*------------------------------------------------------------------
  [ Login Form ]*/

.log-form {
    width: 500px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    margin-top: ;
    /* background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px; */
}

.group {
    position: relative;
    /* margin-bottom: 45px;  */
}

.log-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    /* background: #fafafa; */
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.log-input:focus {
    outline: none;
}

.log-form a {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
    color: #aaaaaa;
}

.left-align {
    float: left;
    text-align: left;
}

.right-align {
    float: right;
    text-align: right;
}


/*------------------------------------------------------------------
  [ Button same code as contact form ]*/

.container-log-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.log-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 250px;
    height: 50px;
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.log-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 7px;
    background-color: #9e8c7b;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.log-form-btn:hover:before {
    background-color: #916439;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    background: transparent;
    border: none;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 24px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
    width: 100%;
}

input[type="checkbox"]:not(:checked)+label,
input[type="checkbox"]:checked+label {
    color: #aaaaaa;
    cursor: pointer;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding-left: 10px;
    padding-top: 6px;
    position: relative;
    text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .force-to-bottom {
        position: absolute;
        /* bottom: 0; */
        width: 100%;
        top: 200px;
        /* left: 50px; */
        padding-left: 60px;
    }
    .bottom1 {
        position: absolute;
        /* bottom: 0; */
        width: 100%;
        bottom: 200px;
        /* left: 50px; */
    }
}